/* #root > div.navbar-parent {
} */
#root > nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  /* overflow-x: hidden;
  overflow-y: hidden;
  overflow-x: scroll; */
}
#root > nav > a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 7.5px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 0px;
  width: 20vw;
  color: silver;
  border: 0px;
  border-style: outset;

  background:#343a40!important;
}

#root > nav > a.navbar-item.active {
  border: solid gray 0.001px;
  border-style: inset;
  background-color: #272e33!important;
   color: #ff5a00;
  text-shadow: #ff5a00 2px 2px 2px 2px;

 }
#root > nav > a.navbar-item > i {
/* #root > div.navbar-parent > nav > a.navbar-item > svg { */
  font-size: 1.0rem;
  margin-top: 5px;

}

#root > nav > a.navbar-item > label {
  font-size: 0.75rem;
  margin-top: 3px;

}

@media screen and (min-width: 450px) {
  #root > div.navbar-parent > nav.navbar-bottom-fucking-overflow {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    overflow-x: hidden;
  }
  #root > div.navbar-parent > nav > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #d0ced1; */
  
    padding: 7.5px;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 0px;
    width: 33.333vw;
    color: silver;
    border: 0px;
    border-style: outset;
  
    background:#343a40!important;
   
  }
}
