/* #root > div.navbar-parent {
} */

#root > nav {
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  padding: 0;
  background: #343a40 !important;
}
#root > nav > a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
}

#root > nav > a.navbar-item {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 8px;
  width: 125px;
  color: silver;
  border: 0px;
  border-style: outset;
  background: #343a40 !important;
}

#root > nav > a.navbar-item > label {
  font-size: 18px;
  margin-top: auto;
  margin-bottom: auto;
}

#root > nav > a.navbar-item.active {
  border: solid gray 0.5px;
  border-style: inset;
  /* background-color: #6d6a6f; */
  /* background-color:black;  */
  /* color: #32f0ec; */
  color: #60dafb;

  text-shadow: #60dafb 2px 2px 2px 2px;

  background: #343a40 !important;
}
#root > nav > a.navbar-item > i {
  font-size: 18px;
  align-self: center;
}
#root > nav > a.navbar-item.active > i {
  font-size: 18px;
}

#root > nav > div.navbar-item{
  position: fixed;
  right: 6vw;
}
#root > nav > div.navbar-item:last-child{
  position: fixed;
  right: 0;
}

#root > nav > div{
  /* position: fixed;
  right: 0; */
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 6vw;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  box-sizing: border-box;
  /* border-radius: 50px; */
  color: silver;
  border: 0px;
  border-style: outset;
  background: #343a40 !important;
}

#root > nav > div > a.navbar-item {
  height: 60px;
  width: 6vw;
  text-align: center;
}

#root > nav > div > a.navbar-item > i {
  color: silver;
}
#root > nav > div > a.navbar-item.active {
  border: solid gray 0.5px;
  border-style: inset;
}

#root > nav > div > a.navbar-item.active > i{
  color: #60dafb;
}


@media screen and (min-width: 450px) {
 
}
